/* IMPOSTAZIONI GENERALI */
body{
    color: #000;
    font-family:  'Fira Sans', sans-serif;
    background-color: white;
    font-size: 1.5rem;
    line-height: 1.0;
}
h1{
    font-size: 4rem;
    line-height: 1;
}
h2{
 font-size: 3.5rem;
 line-height: 1;
}
h3{
    font-size: 2.5rem;
    margin-bottom: 20px;
}
.container {
    width: 80%;
    margin: 0 auto;
}

header {
    box-shadow: 0 2px 10px rgb(226, 226, 226);
    padding: 1em;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

input#menuButton {
    display: none;
}

input#menuButton:checked ~ nav {
    height:200px;
} 

@media screen and (max-width: 768px) {
    header nav {
        height: 0;
        overflow: hidden;
        position: relative;
        width: 100%;
        transition: height 0.5s ease-out;
    }
}

@media screen and (min-width: 768px) {

    #menuMobile {
        display: none;
    }

    header nav ul {
        margin-right: 2em;
    }

    header nav ul li {
        display: inline-block;
        margin: 0 0 0 1em;
    }

    header nav ul li a {
        text-decoration: none;
        color: grey;
    }
}

div{
    padding: 15rem;
}
.bottone button {
    background: rgb(108,193,226);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(78,108,166,1) 44%);
    padding:15px;

}
.epico button{
    background: rgb(108,193,226);
    background: linear-gradient(90deg, rgba(108,193,226,1) 0%, rgba(78,108,166,1) 44%);
    padding:15px;
}
.button a{
    font-size: 2rem;
    color: white;
    text-shadow: 0 0 8px #000000;
}
.lni{
    color: rgb(228, 36, 36)
}

.tabella{
    box-shadow: inset #d3d3d3;
}
.tabella h2{
    color: rgb(40, 40, 70);
    
}
main .epico{
    background: white url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    color: white;
    padding: 1.2em;
    text-shadow:0 0 8px #000000 ;
    box-sizing: border-box;
}
main h2{
    margin-bottom: 60px;
    margin-top: 40px;
}
main p{
    font-size: small;
}
main button{
    margin-top: 30px;
    box-shadow: 0 0 0 0  #000000;
    animation: pulse 2s infinite;
}
section{
    text-align: center;
    padding:15px;
}
section .lni{
    margin-top: 35px;
    font-size: 3.5rem;
}
section h2{
    margin:20px 0 20px 0;
}
aside{
    text-align: center;
    padding:25px;
}
aside img{
    max-width: 100%;
    min-width: 100%;
}
aside h2{
    margin-top: 20px;
}
footer{
    text-align: center;
    background-color: rgb(238, 238, 238);
    margin-top: 40px;
    padding: 40px;
}
footer h4{
    font-size: 1.5em;
    line-height: normal;
}
footer p{
    margin:20px 0 20px 0;
}
footer div i{
    color: rgb(228, 36, 36);
    font-size: 3em;
    margin: 20px 0 20px 0;
}
footer div #email{
    box-sizing: border-box;
}
footer div #email input{
    width: 90%;
    height: 70px;
    margin-top: 30px;
    border-radius: 5px;
}
footer button{
    background-image: linear linear-gradient(to right, #6cc1e2, #392f7a);
    color: white;
    border: none;
    width: 90%;
    margin-top: 0%;

}
footer button a{
    text-shadow: 0em;
}
    

/* HEADER */

/* MAIN */

/* FOOTER */

/* RESPONSIVE */
